<!DOCTYPE html>
<html lang="en">

<head>
	{% load static %}
	<title>Bed Availability Management</title>

	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="team" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<link rel="stylesheet" href="{% static css/bootstrap.min.css %}">
	<link rel="stylesheet" href="{% static css/owl.carousel.css %}">
	<link rel="stylesheet" href="{% static css/owl.theme.default.min.css %}">
	<link rel="stylesheet" href="{% static css/font-awesome.min. %}">
	<link rel="stylesheet" href="{% static css/main.css %}">
	<link rel="stylesheet" href="{% static css/tooplate-style.css %}">

</head>

<body>

	
	<section class="preloader">
		<div class="spinner">

			<span class="spinner-rotate"></span>

		</div>
	</section>


	<!-- MENU -->
	<section class="navbar custom-navbar navbar-fixed-top" role="navigation">
		<div class="container">

			<div class="navbar-header">
				<button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="icon icon-bar"></span>
					<span class="icon icon-bar"></span>
					<span class="icon icon-bar"></span>
				</button>

				<a href="index.html" class="navbar-brand">COVID-19 HealthCare</a>
			</div>

			<div class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					<li><a href="#home" class="smoothScroll">Home</a></li>
					<li><a href="#feature" class="smoothScroll">Bed Status</a></li>
					<li><a href="#testimonial" class="smoothScroll">Graphs</a></li>
					<li><a href="#pricing" class="smoothScroll">Tips</a></li>
					<li><a href="#about" class="smoothScroll">About us</a></li>
					<li><a href="#contact" class="smoothScroll">Contact</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li><a href="./login.html">Login</a></li>
				</ul>
			</div>

		</div>
	</section>


	
	<section id="home" data-stellar-background-ratio="0.5">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">

				<div class="col-md-offset-3 col-md-6 col-sm-12">
					<div class="home-info">
						<h3>professional landing page</h3>
						<h1>We help you manage your website successfully!</h1>
					</div>
				</div>

			</div>
		</div>
	</section>


	
	<section id="feature" data-stellar-background-ratio="0.5">
		<div class="container">
			<div class="row">

				<div class="col-md-12 col-sm-12">
					<div class="section-title">
						<div class="section-title">
							<h1 align="center">Bed Availability Status</h1>
						</div>
						<br>

						<h5><strong>L1 :</strong> COVID Beds without Oxygen</h5>
						<h5><strong>L2 :</strong> COVID Beds with Oxygen</h5>
						<h5><strong>L3 :</strong> COVID Beds with Ventilator</h5>

					</div>
				</div>
	<!-- <div class="limiter">
		<div class="container-table100">
			<div class="wrap-table100">
				<div class="table100"> -->
					<table>
						<thead>
							<tr class="table100-head">
								<th class="column1">Name</th>
								<th class="column2">City</th>
								<th class="column3">L1 Beds</th>
								<th class="column3">L1 Beds Occupied</th>
								<th class="column3">L2 Beds</th>
								<th class="column3">L2 Beds Occupied</th>
								<th class="column3">L3 Beds</th>
								<th class="column3">L3 Beds Occupied</th>
								<th class="column9">Contact No</th>
								<th class="column10">E-mail</th>
							</tr>
						</thead>
						<tbody>
								<tr>
									<td class="column1">Arora Neuro Center</th>
									<td class="column2">Ludhiana</th>
									<td class="column3">100</th>
									<td class="column3">100</th>
									<td class="column3">100</th>
									<td class="column3">100</th>
									<td class="column3">100</th>
									<td class="column3">100</th>
									<td class="column9">7087021847</th>
									<td class="column10">jain@uhu.vndus</th>
								</tr>
								<tr>
									<td class="column1">Arora Neuro Center</th>
									<td class="column2">Ludhiana</th>
									<td class="column3">100</th>
									<td class="column3">100</th>
									<td class="column3">100</th>
									<td class="column3">100</th>
									<td class="column3">100</th>
									<td class="column3">100</th>
									<td class="column9">7087021847</th>
									<td class="column10">jain@uhu.vndus</th>
								</tr>


						</tbody>
					</table>
				<!-- </div>
			</div>
		</div>
	</div> -->




			</div>
		</div>
	</section>




	<section id="testimonial" data-stellar-background-ratio="0.5">
		<div class="container">
			<div class="row">

				<div class="col-md-6 col-sm-12">
					<div class="testimonial-image"></div>
				</div>

				<div class="col-md-6 col-sm-12">
					<div class="testimonial-info">

						<div class="section-title">
							<h1>What People Say</h1>
						</div>

						<div class="owl-carousel owl-theme">
							<div class="item">
								<h3>Vestibulum tempor facilisis efficitur. Sed nec nisi sit amet nibh pellentesque elementum. In viverra ipsum ornare sapien rhoncus ullamcorper.</h3>
								<div class="testimonial-item">
									<img src="{% static tst-image1.jpg %}" class="img-responsive" alt="Michael">
									<h4>Michael</h4>
								</div>
							</div>

							<div class="item">
								<h3>Donec pretium tristique elit eget sodales. Pellentesque posuere, nunc id interdum venenatis, leo odio cursus sapien, ac malesuada nisl libero eget urna.</h3>
								<div class="testimonial-item">
									<img src="{% static tst-image2.jpg %}" class="img-responsive" alt="Sofia">
									<h4>Sofia</h4>
								</div>
							</div>

							<div class="item">
								<h3>Lorem ipsum dolor sit amet, consectetur adipisicing eiusmod tempor incididunt ut labore et dolore magna.</h3>
								<div class="testimonial-item">
									<img src="{% static tst-image3.jpg %}" class="img-responsive" alt="Monica">
									<h4>Monica</h4>
								</div>
							</div>
						</div>

					</div>
				</div>

			</div>
		</div>
	</section>


	<section id="pricing" data-stellar-background-ratio="0.5">
		<div class="container">
			<div class="row">

				<div class="col-md-12 col-sm-12">
					<div class="section-title">
						<h1>COVID-19 Guidelines</h1>
					</div>
				</div>

				<div class="col-md-4 col-sm-6">
					<div class="pricing-thumb">
						<div class="pricing-title">
							<h2>Precautions</h2>
						</div>
						<div class="pricing-info">
							<p>1. Clean your hands often.</p>
							<p>2. Wear a mask when physical distancing   is not possible.</p>
							<p>3. Maintain a safe distance from anyone who is coughing or sneezing.</p>
							<p>4. Don’t touch your eyes, nose or mouth.</p>
							<p>5. Stay home if you feel unwell.</p>
						</div>
					</div>
				</div>

				<div class="col-md-4 col-sm-6">
					<div class="pricing-thumb">
						<div class="pricing-title">
							<h2>Symptoms</h2>
						</div>
						<div class="pricing-info">
							<p>1. Fever or Cough</p>
							<p>2. New loss of taste or smell</p>
							<p>3. Congestion or runny nose</p>
							<p>4. Muscle or body aches</p>
							<p>5. Difficulty in breathing</p>
							<p>6. Headache</p>
							<p>7. Nausea or vomiting</p>
						</div>
					</div>
				</div>

				<div class="col-md-4 col-sm-6">
					<div class="pricing-thumb">
						<div class="pricing-title">
							<h2>Emergency Attention</h2>
						</div>
						<div class="pricing-info">
							<p>1. Trouble breathing</p>
							<p>2. Persistent pain or pressure in the chest</p>
							<p>3. Inability to wake or stay awake</p>
							<p>4. Bluish lips or face</p>
							<p>5. New Confusion</p>
							<p>6. High Fever</p>
						</div>

					</div>
				</div>

			</div>
		</div>
	</section>

	<section id="about" data-stellar-background-ratio="0.5">
		<div class="container">
			<div class="row">

				<div class="col-md-offset-3 col-md-6 col-sm-12">
					<div class="section-title">
						<h1>Professional Team for you</h1>
					</div>
				</div>

				<div class="col-md-4 col-sm-4">
					<div class="team-thumb">
						<img src="{% static team-image1.jpg %}" class="img-responsive" alt="Andrew Orange">
						<div class="team-info team-thumb-up">
							<h2>Andrew Orange</h2>
							<small>Art Director</small>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing eiusmod tempor incididunt ut labore et dolore magna.</p>
						</div>
					</div>
				</div>

				<div class="col-md-4 col-sm-4">
					<div class="team-thumb">
						<div class="team-info team-thumb-down">
							<h2>Catherine Soft</h2>
							<small>Senior Manager</small>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing eiusmod tempor incididunt ut labore et dolore magna.</p>
						</div>
						<img src="{% static team-image2.jpg %}" class="img-responsive" alt="Catherine Soft">
					</div>
				</div>

				<div class="col-md-4 col-sm-4">
					<div class="team-thumb">
						<img src="{% static team-image3.jpg %}" class="img-responsive" alt="Jack Wilson">
						<div class="team-info team-thumb-up">
							<h2>Jack Wilson</h2>
							<small>CEO / Founder</small>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing eiusmod tempor incididunt ut labore et dolore magna.</p>
						</div>
					</div>
				</div>

			</div>
		</div>
	</section>



	<section id="contact" data-stellar-background-ratio="0.5">
		<div class="container">
			<div class="row">

				<div class="col-md-offset-1 col-md-10 col-sm-12">
					<form id="contact-form" role="form" action="" method="post">
						<div class="section-title">
							<h1>Say hello to us</h1>
						</div>

						<div class="col-md-4 col-sm-4">
							<input type="text" class="form-control" placeholder="Full name" name="name" required>
						</div>
						<div class="col-md-4 col-sm-4">
							<input type="email" class="form-control" placeholder="Email address" name="email" required>
						</div>
						<div class="col-md-4 col-sm-4">
							<input type="submit" class="form-control" name="send message" value="Send Message">
						</div>
						<div class="col-md-12 col-sm-12">
							<textarea class="form-control" rows="8" placeholder="Your message" name="message" required></textarea>
						</div>
					</form>
				</div>

			</div>
		</div>
	</section>


	<footer id="footer" data-stellar-background-ratio="0.5">
		<div class="container">
			<div class="row">

				<div class="copyright-text col-md-12 col-sm-12">
					<div class="col-md-6 col-sm-6">
						<p>Copyright &copy; 2020 Team Name - Code Bandits</p>
					</div>

					<div class="col-md-6 col-sm-6">
						<ul class="social-icon">
							<li><a href="https://www.facebook.com/" class="fa fa-facebook-square" attr="facebook icon"></a></li>
							<li><a href="https://www.twitter.com/" class="fa fa-twitter"></a></li>
							<li><a href="https://www.instagram.com/" class="fa fa-instagram"></a></li>
						</ul>
					</div>
				</div>

			</div>
		</div>
	</footer>


	<!-- SCRIPTS -->
	<script src="js/jquery.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/jquery.stellar.min.js"></script>
	<script src="js/owl.carousel.min.js"></script>
	<script src="js/smoothscroll.js"></script>
	<script src="js/custom.js"></script>

</body>

</html>
