<!DOCTYPE html>
<html lang="en">

<head>
	
	<title>Bed Availability Management</title>

	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="team" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	{% load static %}
	<link rel="stylesheet" href="{% static 'Hospital/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'Hospital/owl.carousel.css' %}">
	<link rel="stylesheet" href="{% static 'Hospital/owl.theme.default.min.css' %}">
	<link rel="stylesheet" href="{% static 'Hospital/fa.css' %}">
	<link rel="stylesheet" href="{% static 'Hospital/main.css' %}">
	<link rel="stylesheet" href="{% static 'Hospital/tooplatestyle.css' %}">

</head>

<body>

	
	<section class="preloader">
		<div class="spinner">

			<span class="spinner-rotate"></span>

		</div>
	</section>


	<!-- MENU -->
	<section class="navbar custom-navbar navbar-fixed-top" role="navigation">
		<div class="container">

			<div class="navbar-header">
				<button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="icon icon-bar"></span>
					<span class="icon icon-bar"></span>
					<span class="icon icon-bar"></span>
				</button>

				<a href="index.html" class="navbar-brand">COVID-19 HealthCare</a>
			</div>

			<div class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					<li><a href="#home" class="smoothScroll">Home</a></li>
					<li><a href="#feature" class="smoothScroll">Bed Status</a></li>
					<li><a href="#testimonial" class="smoothScroll">Graphs</a></li>
					<li><a href="#pricing" class="smoothScroll">Tips</a></li>
					<li><a href="#about" class="smoothScroll">About us</a></li>
					<li><a href="#contact" class="smoothScroll">Contact</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li><a href="{% url 'login' %}">Login</a></li>
				</ul>
			</div>

		</div>
	</section>


	
	<section id="home" data-stellar-background-ratio="0.5">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">

				<div class="col-md-offset-3 col-md-6 col-sm-12">
					<div class="home-info">
						<h1>"The secret of crisis management is not good vs. bad, it’s preventing the bad from getting worse"</h1>
					</div>
				</div>

			</div>
		</div>
	</section>


	
	<section id="feature" data-stellar-background-ratio="0.5">
		<div class="container">
			<div class="row">

				<div class="col-md-12 col-sm-12">
					<div class="section-title">
						<div class="section-title">
							<h1 align="center">Bed Availability Status</h1>
						</div>
						<br>

						<h5><strong>L1 :</strong> COVID Beds without Oxygen</h5>
						<h5><strong>L2 :</strong> COVID Beds with Oxygen</h5>
						<h5><strong>L3 :</strong> COVID Beds with Ventilator</h5>

					</div>
				</div>
				<form method="POST" action="{% url 'Home' %}">
					{% csrf_token %}
					<label for="city">Choose the City</label>
					<select name="city" id="city">
					{% for b in cl %}
					<option value="{{b}}">{{b.Name}}</option>
					{% endfor %}
				</select>
				<button type="submit" value="submit">Submit</button>
				</form>
	<!-- <div class="limiter">
		<div class="container-table100">
			<div class="wrap-table100">
				<div class="table100"> -->
					<table>
						<thead>
							<tr class="table100-head">
								<th class="column1">Name</th>
								<th class="column2">City</th>
								<th class="column3">L1 Beds</th>
								<th class="column3">L1 Beds Occupied</th>
								<th class="column3">L2 Beds</th>
								<th class="column3">L2 Beds Occupied</th>
								<th class="column3">L3 Beds</th>
								<th class="column3">L3 Beds Occupied</th>
								<th class="column9">Contact No</th>
								<th class="column10">E-mail</th>
							</tr>
						</thead>
						<tbody>
							{% for a in hl %}
								<tr>
									<td class="column1">{{a.Name}}</th>
									<td class="column2">{{a.City}}</th>
									<td class="column3">{{a.l1beds}}</th>
									<td class="column3">{{a.l1bedso}}</th>
									<td class="column3">{{a.l2beds}}</th>
									<td class="column3">{{a.l2bedso}}</th>
									<td class="column3">{{a.l3beds}}</th>
									<td class="column3">{{a.l3bedso}}</th>
									<td class="column9">{{a.Mob}}</th>
									<td class="column10">{{a.email}}</th>
								</tr>
								{% endfor %}
								
						</tbody>
					</table>
				<!-- </div>
			</div>
		</div>
	</div> -->




			</div>
		</div>
	</section>

	<section id="testimonial" data-stellar-background-ratio="0.5">
		<div class="container">
			<div class="row">

				<div class="col-md-12 col-sm-12">
					<div class="section-title">
						<h1 id='stats'>COVID-19 Stats</h1>
					</div>
				</div>
				<iframe src="https://ourworldindata.org/grapher/total-cases-covid-19?tab=map" width="100%" height="600px"></iframe>



			</div>
		</div>
	</section>	


	<section id="pricing" data-stellar-background-ratio="0.5">
		<div class="container">
			<div class="row">

				<div class="col-md-12 col-sm-12">
					<div class="section-title">
						<h1>COVID-19 Guidelines</h1>
					</div>
				</div>

				<div class="col-md-4 col-sm-6">
					<div class="pricing-thumb">
						<div class="pricing-title">
							<h2>Precautions</h2>
						</div>
						<div class="pricing-info">
							<p>1. Clean your hands often.</p>
							<p>2. Wear a mask when physical distancing   is not possible.</p>
							<p>3. Maintain a safe distance from anyone who is coughing or sneezing.</p>
							<p>4. Don’t touch your eyes, nose or mouth.</p>
							<p>5. Stay home if you feel unwell.</p>
						</div>
					</div>
				</div>

				<div class="col-md-4 col-sm-6">
					<div class="pricing-thumb">
						<div class="pricing-title">
							<h2>Symptoms</h2>
						</div>
						<div class="pricing-info">
							<p>1. Fever or Cough</p>
							<p>2. New loss of taste or smell</p>
							<p>3. Congestion or runny nose</p>
							<p>4. Muscle or body aches</p>
							<p>5. Difficulty in breathing</p>
							<p>6. Headache</p>
							<p>7. Nausea or vomiting</p>
						</div>
					</div>
				</div>

				<div class="col-md-4 col-sm-6">
					<div class="pricing-thumb">
						<div class="pricing-title">
							<h2>Emergency Attention</h2>
						</div>
						<div class="pricing-info">
							<p>1. Trouble breathing</p>
							<p>2. Persistent pain or pressure in the chest</p>
							<p>3. Inability to wake or stay awake</p>
							<p>4. Bluish lips or face</p>
							<p>5. New Confusion</p>
							<p>6. High Fever</p>
						</div>

					</div>
				</div>

			</div>
		</div>
	</section>

	<section id="about" data-stellar-background-ratio="0.5">
		<div class="container">
			<div class="row">

				<div class="col-md-offset-3 col-md-6 col-sm-12">
					<div class="section-title">
						<h1>About Us</h1>
					</div>
				</div>

				<div class="col-md-6 col-sm-6">
					<div class="pricing-thumb">
						<div class="pricing-info">
							<p>This website has been established to tackle the ongoing pandemic in better way and utilisation of all the available resources optimally.
								This is a one stop destination for</p>
							<p>1.Getting updated information about availability of beds for COVID-19 patients</p>
							<p>2.Inventory management and resource sharing among hospitals.</p>
						</div>
					</div>

				</div>
				<div class="col-md-6 col-sm-6">
					<div class="pricing-thumb">

						<div class="pricing-info">
							<p><img class="abt_img" src="{% static 'Hospital/corona.jpeg' %}" alt="Image"> </p>
						</div>

					</div>
				</div>

			</div>
		</div>
	</section>



	<section id="contact" data-stellar-background-ratio="0.5">
		<div class="container">
			<div class="row">

				<div class="col-md-offset-1 col-md-10 col-sm-12">
					<form id="contact-form" role="form" action="" method="post">
						<div class="section-title">
							<h1>Say hello to us</h1>
						</div>

						<div class="col-md-4 col-sm-4">
							<input type="text" class="form-control" placeholder="Full name" name="name" required>
						</div>
						<div class="col-md-4 col-sm-4">
							<input type="email" class="form-control" placeholder="Email address" name="email" required>
						</div>
						<div class="col-md-4 col-sm-4">
							<input type="submit" class="form-control" name="send message" value="Send Message">
						</div>
						<div class="col-md-12 col-sm-12">
							<textarea class="form-control" rows="8" placeholder="Your message" name="message" required></textarea>
						</div>
					</form>
				</div>

			</div>
		</div>
	</section>


	<footer id="footer" data-stellar-background-ratio="0.5">
		<div class="container">
			<div class="row">

				<div class="copyright-text col-md-12 col-sm-12">
					<div class="col-md-6 col-sm-6">
						<p>Team Name - Code Bandits</p>
					</div>

					
				</div>

			</div>
		</div>
	</footer>


	<script src="{% static 'Hospital/jquery.js' %}"></script>
	<script src="{% static 'Hospital/bootstrap.min.js' %}"></script>
	<script src="{% static 'Hospital/jquery.stellar.min.js' %}"></script>
	<script src="{% static 'Hospital/owl.carousel.min.js' %}"></script>
	<script src="{% static 'Hospital/smoothscroll.js' %}"></script>
	<script src="{% static 'Hospital/custom.js' %}"></script>

</body>

</html>
