<!DOCTYPE html>
<html>
    <head>
        <title>Hospital Login</title>
    </head>
    <body>
        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            <label for="username">UserName</label>
            <input type="text" id="username"><br>
            <label for="password">Password</label>
            <input type="password" id="password">
            <br>
            <button type="submit" value="login">Submit</button>
            <input type="hidden" name="next" value="{{ next }}" />
        </form>
    </body>
</html>